  services:
    backend:
      build: ./backend
      container_name: backend-container
      ports:
        - "8000:8000"
      env_file:
        - .env
      volumes: # Mount the backend code into the container so changes are reflected immediately
        - ./backend:/app
      depends_on:
        - db
        - redis

    db:
      image: postgres:16
      container_name: postgres-container
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: ranchdb
      ports:
        - "5433:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
    
    redis:
      image: redis:7
      container_name: redis-container
      ports:
        - "6379:6379"
  
  volumes:
    pgdata: