   services:
    backend:
      build: ./backend
      container_name: backend-container
      ports:
        - "8000:8000"
      env_file:
        - .env
      depends_on:
        - db
        - redis

    db:
      image: postgres:16
      container_name: postgres-container
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: ranchdb
      ports:
        - "5432:5432"
    
    redis:
      image: redis:7
      container_name: redis-container
      ports:
        - "6379:6379"